.grid-container {
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    padding:0px;
    text-align: center;
}

.headerItem {
    background-color: rgba(70, 70, 70, 0.541);
    padding:10px;
    color:rgb(255, 255, 255);
    border: 1px solid white;
}

.sessionArea {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: var(--noRows);
    padding:0px;
    text-align: center;
    height: auto;
}

.timeColumn{
    padding: 0px;
    background-color: rgba(148, 148, 148, 0.342);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessionItem {
    padding:0px;
    background-color: rgba(246, 149, 149, 0.541);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: var(--borderStyle);
    /* overflow: clip; */
    overflow: hidden;
    word-wrap:break-word;
    font-size: 1.4vmin ;
    grid-area: var(--startTime) / var(--columnPosition) / span var(--duration) / span 1;
    
}

.sessionItem.active {
    background-color: var(--color);
}

.sessionItem.notActive {
    background-color: #eeeeee;
}

.sessionItem.notActive.hover {
    background-color: #e0e0e0;
}